<%= simple_form_for(apartment_number) do |form| %>
  <% if apartment_number.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apartment_number.errors.count, "error") %> prohibited this apartment number from being saved:</h2>

      <ul>
        <% apartment_number.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :block_id, label: "Block", input_html: { class: 'form-control' } %>
  <%= form.input :number, label: "Apartment Number", input_html: { class: 'form-control' } %>
  <%= form.input :number_of_rooms, label: "Number of Rooms", input_html: { class: 'form-control' } %>
  <%= form.input :square, label: "Square (in m²)", input_html: { class: 'form-control' } %>

  <%= form.button :submit, class: 'btn btn-primary' %>
<% end %>
