<div class='row'>
  <div class='col-sm-12 col-md-6'>
    <%= simple_form_for(@specific_epartment_number) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <% unless @specific_epartment_number.persisted? %>
          <%= f.association :block %>
          <%= f.input :number %>
          <%= f.input :number_of_rooms %>
          <%= f.input :square %>
        <% end %>

        <%= f.input :asset_image_name %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/asset_images' %>
</div>
