<div id="<%= dom_id specific_epartment_number %>">
  <p>
    <strong>Block:</strong>
    <%= specific_epartment_number.block_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= specific_epartment_number.number %>
  </p>

  <p>
    <strong>Number of rooms:</strong>
    <%= specific_epartment_number.number_of_rooms %>
  </p>

  <p>
    <strong>Square:</strong>
    <%= specific_epartment_number.square %>
  </p>

</div>
