<p style="color: green"><%= notice %></p>

<%= render @specific_epartment_number %>

<div>
  <%= link_to "Edit this specific epartment number", edit_specific_epartment_number_path(@specific_epartment_number) %> |
  <%= link_to "Back to specific epartment numbers", specific_epartment_numbers_path %>

  <%= button_to "Destroy this specific epartment number", @specific_epartment_number, method: :delete %>
</div>
