<div class='card my-4'>
  <h4 class='p-2'>Информация о договоре</h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Номер договора
      <span class="badge badge-primary"><%= contract.contract_number %></span>
    </li>
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Плошадь
      <span class="badge badge-primary"><%= contract.apartment.apartment_number.square %> кв. м.</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Цена за 1 кв. м.
      <span class="badge badge-primary badge-pill"><%= num_to_uzs contract.price_per_square %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cумма продажи
      <span class="badge badge-primary badge-pill"><%= num_to_uzs contract.total_price %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Первоначальный взнос в процентах
      <span class="badge badge-primary badge-pill"><%= contract.first_payment_in_percent %>%</span>
    </li>
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Первоначальный взнос в суммах
      <span class="badge badge-primary"><%= num_to_uzs contract.first_payment_in_cash %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Остаток
      <span class="badge badge-primary badge-pill"><%= num_to_uzs(contract.total_price - contract.first_payment_in_cash) %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cрок (мес.)
      <span class="badge badge-primary badge-pill"><%= contract.number_of_months.to_i %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Eжемесячный платежь
      <span class="badge badge-primary badge-pill"><%= num_to_uzs contract.price_per_month %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Ф.И.О
      <span class="badge badge-primary badge-pill"><%= contract.fullname %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      ПИНФЛ
      <span class="badge badge-primary badge-pill"><%= contract.pinfl %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      адрес
      <span class="badge badge-primary badge-pill"><%= contract.address %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Номер паспорта
      <span class="badge badge-primary badge-pill"><%= contract.passport_number %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Дата выдачи паспорта
      <span class="badge badge-primary badge-pill"><%= contract.passport_date %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Номер телефона
      <span class="badge badge-primary badge-pill"><%= contract.phone_number %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Номер телефона 2
      <span class="badge badge-primary badge-pill"><%= contract.extra_phone_number %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Дата договора
      <span class="badge badge-primary badge-pill"><%= format_datetime(contract.created_at) %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Регистратор
      <span class="badge badge-primary badge-pill"><%= contract.user.name %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Статус
      <span class="badge-<%= contract.status %>"><%= contract_status(contract.status) %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Последний cрок оплаты
      <span class=""><%= contract.deadline %></span>
    </li>
    <% unless contract.payment_day.nil? %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        число ежемесячной оплаты
        <span class="badge badge-primary badge-pill"><%= contract.payment_day %></span>
      </li>
    <% end %>
    <div>
      <%= link_to 'Изменить', edit_contract_path(contract), class: 'btn btn-warning m-3' %>
      <%= link_to 'Пополнить', new_top_up_path(contract_id: contract.id), class: 'btn btn-success m-3' %>
      <%= link_to 'Печатать оплаты', print_top_ups_contract_path(contract, format: :pdf), class: 'btn btn-secondary m-3' %>
      <%= link_to 'Печатать договор', print_contract_path(contract), class: 'btn btn-secondary m-3' %>
      <% if contract.status == :pending %>
        <%= button_to 'Удалить', contract, class: 'btn btn-danger m-3', method: :delete %>
      <% end %>
    </div>
  </ul>
</div>

<div class='row'>
  <div class='col-sm-7'>
    <% if contract.top_ups.exists? %>
      <div class='card mt-3 mb-4'>
        <h4>История оплат (<%= num_to_uzs contract.total_price %> - <%= num_to_uzs contract.top_ups.sum(:amount) %> = <%= num_to_uzs(contract.total_price - contract.top_ups.sum(:amount)) %>)</h4>
        <%= render 'top_ups/top_ups', top_ups: contract.top_ups.includes(:user) %>
      </div>
    <% end %>
  </div>

  <div class='col-sm-5'>
    <% unless @payment_schedule.empty? %>
      <br/>
      <div class='new-page m-3'>
        <h3 class='text-center'>Расписания ежемесячных оплат</h3>
        <table class='table table-sm table-striped table-bordered'>
          <thead>
            <th>№</th>
            <th>Дата</th>
            <th>Сумма платежа</th>
            <th>Остаток</th>
          </thead>
          <tbody>
            <% @payment_schedule.each_with_index do |schedule, index| %>
              <tr class="<%= schedule[:paid] ? 'table-success' : '' %>">
                <td><%= index + 1 %></td>
                <td><%= schedule[:payment_date] %></td>
                <td><%= num_to_uzs @contract.price_per_month %></td>
                <td><%= num_to_uzs schedule[:remaining] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

