<div class='container text-white'>
  <%= simple_form_for(contract, html: { class: "form-horizontal col-sm-6" }) do |form| %>
    <h1 class='text-center'>Договор</h1>
    <% if contract.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% contract.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if contract.persisted? %>
      <div class="mb-3">
        <%= form.input :status,
                 label: "Статус",
                 collection: Contract.statuses.keys.map { |key| [I18n.t("enums.contract.statuses.#{key}"), key] },
                 input_html: { class: "form-control shadow" },
                 prompt: "Выберите статус" %>
      </div>
    <% elsif !contract.persisted? || current_user.admin?  %>
      <div class="mb-3">
        <%= form.input :fullname, label: "Полное имя", input_html: { class: "form-control shadow" } %>
      </div>

      <div class="mb-3">
        <%= form.input :pinfl, label: "ПИНФЛ", input_html: { class: "form-control shadow" } %>
      </div>

      <div class="mb-3">
        <%= form.input :address, label: "Адрес", input_html: { class: "form-control shadow" } %>
      </div>

      <div class="mb-3">
        <%= form.input :passport_number, label: "Номер паспорта", input_html: { class: "form-control shadow" } %>
      </div>
      <div class="mb-3">
        <%= form.input :passport_date, html5: true, as: :date, label: "Дата выдачи паспорта", input_html: { class: "form-control shadow" } %>
      </div>

      <div class="mb-3">
        <%= form.input :phone_number, label: "Номер телефона", input_html: { class: "form-control shadow" } %>
      </div>
      <div class="mb-3">
        <%= form.input :extra_phone_number, label: "Номер телефона 2", input_html: { class: "form-control shadow" } %>
      </div>
      <div class="mb-3">
        <%= form.input :price_per_square, label: "Цена за квадратный метр", input_html: { class: "form-control shadow" } %>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <%= form.input :first_payment_in_cash, label: "Первоначальный взнос (наличные)", input_html: { class: "form-control shadow" } %>
        <%= form.input :first_payment_in_percent, label: "Первоначальный взнос (%)", input_html: { class: "form-control shadow" } %>
      </div>


      <div class="mb-3">
        <%= form.input :number_of_months, label: "Количество месяцев", input_html: { class: "form-control shadow" } %>
      </div>

      <div class="mb-3">
        <%= form.input :start_date, html5: true, as: :date, label: "Дата начало ежемесячной оплаты", input_html: { class: "form-control shadow" } %>
      </div>

      <%# # passport number %>

      <div class="mb-3">
        <%= form.association :apartment, label: false, as: :hidden %>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-md-12 text-center">
        <%= form.button :submit, "Сохранить", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
