<style>
    body {
        background: none
    }
</style>
<div style='font-size: 15.5px'>
  <p align="center">
      <strong>ДОГОВОР №  <%= @contract.contract_number %></strong>
  </p>
  <p align="center">
      <strong>
          об инвестициях и долевом участии в строительстве жилищно-бытового
      </strong>
  </p>
  <div class='d-flex justify-content-between'>
    <div class=''><strong>Город  Самарканд</strong></div>
    <div class=''>__________________</div>
  </div>
  <br/>
  <p>
      ООО «JAXONGIR BAXT PLYUS», действующего на основании  Устава «Застройщик», в
      лице директора Раджабова Ш.Ф., паспорт АВ 4494909 выдан  ГУВД г. Самарканда
      от 21.07.16 года, с одной стороны физическое лицо -   <%= @contract.fullname %>  именуемый далее  «Инвестор/Дольщик»,
      паспорт <strong><%= @contract.passport_number %></strong>  выдан ИИБ обл.  <strong><%= @contract.passport_date %></strong> году, проживающая по адресу:  <%= @contract.address %>, с другой стороны, а  совместно именуемые «Стороны»,
      заключили настоящий Договор о нижеследующем:
  </p>

  <p align="center">
      <strong>1.ПРЕДМЕТ ПРЕДВАРИТЕЛЬНОГО ДОГОВОРА</strong>
  </p>
  <p>
      1.1. Предметом настоящего договора является совместное долевое
      строительство 9-ти этажного многоквартирного жилищно-бытового комплекса,
      расположенного  по адресу:  Самаркандский р-н. махалля  Узбаккенти на
      основании 2024г 15-октября №49 Протокола заседания
      Архитектурно-градостроительного совета при областной дирекции строительства
      и  жилищно-коммунальной  комиссий,  Постановление Кабинета Министров
      Республики Узбекистан от 17 апреля 2024 года №  214, Кабинета Министров
      Республики Узбекистан от 20 апреля 2022 года № 200  проектное предложение
      объекта, представленное на основании решений.
  </p>
  <p>
      1.2.  «Застройщик» для реализации  настоящего инвестиционного проекта
      привлекает после получения акта рабочей  комиссии на ввод и эксплуатацию,
      «Застройщик» передает «Инвестору/Дольщику»  «Объект» долевого строительства.
      «Инвестор/Дольщик» обязуется осуществить  инвестиции в строительство
      вышеуказанного «Объекта» долевого строительства и  принять его в
      собственность в порядки и сроки, установленные настоящим  договором.
  </p>
  <p>
      1.3. Квартира, передаваемая «Покупателю» согласно разработанного проекта, представляет собой: <strong><%= @contract.apartment.apartment_number.number_of_rooms %></strong>-х комнатную квартиру, в многоэтажном доме, <strong><%= @contract.apartment.block.name %></strong>, строительный номер квартиры №<strong><%= @contract.apartment.apartment_number.number %></strong>, расположена на <strong><%= @contract.apartment.floor.number %></strong>-м этажe  общей площадью <strong><%= @contract.apartment.apartment_number.square %></strong> кв.метров, строящегося, по адресу: Самаркандский р-н. Узбеккенти МФЙ  ул. Чаманзор дом-12. «Инвестор/Дольщик» осуществляет инвестиции по настоящему договору путем передачи «Застройщику» инвестиционного вклада в размере, <strong><%= num_to_uzs @contract.total_price %></strong> сум, что составляет 100%
  </p>
  <p>
      1.4. «Инвестор/Дольщик» осуществляет инвестиции по настоящему договору
      путем передачи «Застройщику» инвестиционного вклада в размере,
      <strong><%= num_to_uzs @contract.total_price %></strong> сум, что
      составляет 100%
  </p>
  <p>
      (процентов), от стоимости «Объекта» или строительных материалов в
      натуральном выражении (арматура, цемент, кирпич и др.) (с учетом НДС),с
      последующим получением индивидуального права собственности на «Объект»
  </p>
  <p>
      1.5. Характеристика «Объекта»: состав и объем работ по «Объекту»,
      передаваемые «Инвестору/Дольщику» в собственность по окончании
      использования  вклада или иных товаров,  должны соответствовать проекту,
      разработанному Архитектурно-строительной  организацией.
  </p>
  <p>
      1.6. Сумма оплаты «Покупателем» согласно пункта 1.4. настоящего договора
      составляет:
  </p>
  <table class='table table-bordered'>
      <thead>
        <th>Этаж</th>
        <th>Количество комнат</th>
        <th>Общая площадь квартиры</th>
        <th>Цена за 1 кв.м.</th>
        <th>Цена одной квартиры</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @contract.apartment.floor.number %></td>
          <td><%= @contract.apartment.apartment_number.number_of_rooms %></td>
          <td><%= @contract.apartment.apartment_number.square %></td>
          <td><%= num_to_uzs @contract.price_per_square %></td>
          <td><%= num_to_uzs @contract.total_price %></td>
        </tr>
      </tbody>
  </table>
  <p>
      Общая  сумма договора <strong><%= num_to_uzs @contract.total_price %></strong> сумов
  </p>
  <p align="center">
      <strong>2. ОБЯЗАННОСТИ И ПРАВА СТОРОН</strong>
  </p>
  <p>
      2.1. Обязанности и права «Инвестора/Дольщика»: первоначальный взнос в
      течение 3 (три) банковских дней.
  </p>
  <p>
      2.1.1. «Инвестор/Дольщик» обязуется внести всю сумму квартиры в размере
      <strong><%= num_to_uzs @contract.total_price %></strong> сумов, что составляет 100% (процентов) от стоимости «Объекта» на
      расчетный счет «Застройщика» или осуществить передачу стройматериалов
      дольщика  соответственно сумме выбранной квартиры.
  </p>
  <p>
      После подписания настоящего договора инвестиционная сумма при любых
      обстоятельствах остаётся без изменения до окончания срока действия
      настоящего  договора.
  </p>
  <p>
      2.1.2. Поскольку источником финансирования строительства жилого дома
      является средства, получаемые от потенциальных покупателей,
      «Инвестор/Дольщик»  обязан направить собственные или привлеченные средства в
      оплату сумму согласно  графика оплаты (Приложение Nºl). Форма оплаты любая
      (наличный, безналичный) или  в известкованные строительные материалы.
  </p>
  <p>
      2.1.3. Документом подтверждающим, внесение инвестиционного вклада  является
      квитанция приходного кассового ордера или банковская выписка о  зачислении
      денежных средств на расчетный счет «Застройщика».
  </p>
  <p>
      2.2. Обязанности и права «Застройщика»:
  </p>
  <p>
      2.2.1. «Застройщик», в соответствии с действующими в Республики  Узбекистан
      строительными нормами и правилами, а также проектно-сметной  документацией,
      с учетом условий изложенных в настоящем договоре, обязуется  осуществить
      строительство «Объекта» согласно утвержденной проектной  документации по
      адресу: Самаркандский р-н. махалля Узбеккенти.
  </p>
  <p>
      2.2.2. «Застройщик» обязуется в срок до <strong><%= @contract.deadline %></strong> предоставить в
      нотариальную контору пакет документов для оформления договора купли-продажи
      «Инвестором» свидетельства о регистрации права на здание и сооружение,
      подтверждающего право собственности на «Объект»: в <strong><%= @contract.apartment.block.name %></strong>, <strong><%= @contract.apartment.apartment_number.number_of_rooms %></strong> комнатная
      квартира Nº <strong><%= @contract.apartment.apartment_number.number %></strong>, общей площадью
      <strong><%= @contract.apartment.apartment_number.square %></strong> м/Кв  без внутренней отделкой жилищно-бытового комплекса по адресу:
      город Самарканд махаля  Узбеккенти
  </p>
  <p>
      Данный срок сдвигается на соответствующий срок, если инвестором не
      выполнены обязательства по своевременной оплате согласно графика оплаты
      (приложение Nº1).
  </p>
  <p>
      2.2.3. «Застройщик» обязывается выполнять все законные требования  Органов
      Государственной власти на местах в части надлежащего строительства  объектов
      жилого фонда.
  </p>
  <p>
      2.2.4. «Застройщик», по согласованию с «Инвестора/Дольщика», имеет право
      изменить сроки завершения строительства объекта в случаях, указанных в пункт
      2.2.3. уведомив об этом «Инвестор/Дольщик» в письменном виде.
  </p>
  <p>
      2.2.5. В период действия настоящего договора не продавать, не передавать  и
      не закладывать в залог продаваемую квартиру по настоящему договору в пользу
      третьих лиц.
  </p>
  <p>
      2.2.6. На момент завершения строительства объекта, квартира должна быть  в
      следующем состоянии и со следующей комплектации: планировка квартиры,
      застекление, установка входной двери, черновая штукатурка, подвод
      коммуникации  (электроэнергии, газификации и канализации). Оставшаяся часть
      отделочных работ:  малярные работы, установка межкомнатных дверей, настил
      всех видов полов и т.д  будет выполняться заемщиком клиентом самостоятельно
      за счет собственных средств  «Инвестора/Дольщика».
  </p>
  <p>
      2.2.7. Ориентировочной срок строительства первого этапа 36  месяцев со дня
      утверждения проектно-сметной  документации, с учетом своевременных платежей
      «Инвестора/Дольщика». Срок  строительства может быть по объективным причинам
      продлен, о чем оповещается  «Инвестор/Дольщик».
  </p>
  <p align="center">
      <strong>3.  ГАРАНТИИ КАЧЕСТВА</strong> <strong></strong>
  </p>
  <p>
      3.1. «Застройщик» отвечает за качество строительства Объекта и в связи,  с
      чем обязуется: осуществлять строительство многоэтажного жилого дома в
      строгом  соответствии с проектно-сметной документацией; строго соблюдать
      требование  строительных норм и правил, действующих на территории Республики
      Узбекистан;  обеспечить сдачу и ввод многоэтажного жилого дома в
      эксплуатацию в сроки,  установленные настоящим договором; передача в
      собственность «Инвестора/Дольщика»  объекта долевого строительства,
      отвечающего всем требованиям и характеристиками  градостроительного
      регламента, и проектной документацией.
  </p>
  <p>
      3.2. Все выявленные недостатки и недоделки при строительстве «Объекта»
      безоговорочно устраняются Заказчиком в сроки установленные законодательством
      республики Узбекистана или соглашением сторон.
  </p>
  <p>
      3.3. Требования, связанные с недостатками результата работы, могут быть
      предъявлены заказчиком при условии, что они были обнаружены в разумный срок,
      но  в пределах двух лет со дня передачи результата работы.
  </p>
  <p align="center">
      <strong>4.</strong><strong></strong><strong>ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
      <strong></strong>
  </p>
  <p>
      4.1. За неисполнение или ненадлежащее исполнение своих обязательств по
      настоящему договору стороны, обязаны возместить друг другу причиненные
      убытки.
  </p>
  <p>
      4.2. В случае нарушения установленного договором срока платежей
      «Инвестор/Дольщик» уплачивает «Застройщику» неустойку (пени) в размере 0,5 %
      от  суммы просроченного платежа за каждый день просрочки, но не более 50 %
      от суммы  просроченного платежа.
  </p>
  <p>
      4.3. В случае расторжения Настоящего договора согласно пункта 4.2,
      внесенный «Инвестор/Дольщик» взнос инвестиционного вклада согласно пункту
      1.4.,  подлежит возврату в течении 6 (шести) месяцев, с вычетом неустойки
      (пени),  только после продажи данного жилого помещении другому «Инвестору/
      Дольщику»
  </p>
  <p>
      Кроме того за расторжение данного договора Застройщик удерживает 5 % от
      суммы осуществленной оплаты Инвестора/Дольщика. Возврат осуществляется
      только  безналичной форме. Расходы банка, комиссия банка при возврату
      средств  осуществляется за счет «Инвестора/Дольщика».
  </p>
  <p>
      4.4. В случае нарушения предусмотренного Договором срока передачи  объекта
      долевого строительства, «Застройщик» уплачивает «Инвестору/Дольщику»  пени в
      размере 0,5% от цены согласно пункту 1.4. за каждый день просрочки, но  не
      более 50% от общей суммы инвестиционного вклада.
  </p>
  <p>
      4,5. Ответственность сторон за неисполнение или не надлежащее исполнение
      своих обязательств по настоящему договору регулируется Гражданским Кодексом
      РУз. И другими нормативно-правовыми актами РУз.
  </p>
  <p align="center">
      <strong></strong>
  </p>
  <p align="center">
      <strong></strong>
  </p>
  <p align="center">
      <strong>5</strong><strong>.</strong><strong>ФОРС-МАЖОР, ПРОЧИЕ УСЛОВИЯ</strong>
      <strong></strong>
  </p>
  <p>
      5.1. «Стороны» освобождаются от ответственности за частичное или полное
      неисполнение обязательств по настоящему договору, если это неисполнение
      явилось  следствием обстоятельств неопределенной силы, возникших после
      заключения  договора в результате событий чрезвычайного характера, которые
      участник не мог  предвидеть, не предотвратить разумными мерами (форс-мажор).
  </p>
  <p>
      К таким событиям чрезвычайного характера относятся: наводнение, пожар,
      землетрясение, взрыв, шторм, эпидемия и иные явления природы, а так же война
      или военные действия, а так же нормативно-правовые акты органов
      государственного управления о решении сноса объекта.
  </p>
  <p>
      5.2. Договор вступает в силу с момента его подписания и действует до
      полного его исполнения обязательств и завершения взаимных расчетов.
  </p>
  <p align="center">
      <strong>6.</strong><strong>ПОРЯДОК РАЗРЕШЕНИЕ СПОРОВ</strong>
      <strong>
      </strong>
  </p>
  <p>
      6.1. Все споры и разногласие, которые могут возникнуть из настоящего
      договора или по поводу его исполнения, стороны будут стремиться разрешить
      путем  консультаций и переговоров. Срок рассмотрение претензий 15 дней.
  </p>
  <p>
      6.2. В случае, если спор и разногласия не будут урегулированы в ходе
      консультации и переговоров, то они подлежат разрешению в Самаркандском
      городском суде по гражданским делам.
  </p>
  <br>
  <p align="center">
      <strong>7.</strong><strong>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong>
      <strong>
      </strong>
  </p>
  <p>
      7.1. Настоящий договор может быть расторгнут по обоюдному письменному
      соглашению сторон, за исключением одностороннего расторжения,
      предусмотренных  настоящим договором.
  </p>
  <p>
      7.2. Стороны подтверждают, что при подписании настоящего договора они не
      находятся под влиянием заблуждения, обмана, насилия, злонамеренного
      соглашению  и стечения тяжелых обстоятельств. Текст договора ими прочитан и
      четко осознают,  на каких условиях заключен настоящий договор и приложения к
      нему, а также что  текст договора и приложений к нему соответствуют
      действительному волеизъявлению  сторон.
  </p>
  <p>
      7.3. Настоящий договор составлен 3-х экземплярах - по одному экземпляру  для
      каждой из «Сторон» и третий экземпляр передается в нотариальную контору,
      имеющих равную юридическую силу.
  </p>
  <p align="center">
      <strong>8.</strong> <strong>ЮРИДИЧЕСКИЕ АДРЕСА И  РЕКВИЗИТЫ СТОРОН</strong>
  </p>

  <div class='row'>
    <div class='col-sm-6'>
      <table class='table table-sm table-bordered'>
        <thead>
          <tr><td><strong>«Застройщик»</strong></td></tr>
          <tr><td>ООО «JAXONGIR BAXT PLYUS»</td></tr>
          <tr><td>Адрес: <strong>Самаркандский р-н Мотрид ММТП</strong></td></tr>
          <tr><td>р/с: <strong>2020 8000 8047 3034 2001</strong></td></tr>
          <tr><td>ИНН: <strong>300926642</strong></td></tr>
          <tr><td>Банк: <strong>«Ипак Йули» РФ «Умар»</strong></td></tr>
          <tr><td>МФО: <strong>00283</strong></td></tr>
          <tr><td>Тел: <strong>+998 95 412 00 03</strong> | <strong>+99897 923 00 03</strong></td></tr>
          <tr><td>Директор: <strong>Раджабов Ш.Ф</strong></td></tr>
        </thead>
      </table>
    </div>
    <div class='col-sm-6'>
      <table class='table table-sm table-bordered'>
        <thead>
          <tr><td><strong>«Инвестор/Дольщик»</strong></td></tr>
          <tr><td>Ф.И.О. <strong><%= @contract.fullname %></strong></td></tr>
          <tr><td>Паспорт <strong><%= @contract.passport_number %></strong></td></tr>
          <tr><td>Адрес: <strong><%= @contract.address %></strong></td></tr>
          <tr><td>ПИНФЛ: <strong><%= @contract.pinfl %></strong></td></tr>
          <tr><td>Тел: <strong><%= @contract.phone_number %></strong> <strong><%= @contract.extra_phone_number %></strong></td></tr>
        </thead>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 text-center'>
      <br/>
      <p>MП</p>
      <br/>
      <br/>
      <br/>
      <br/>
      <div style='display:flex; flex-direction:column; align-items:center;' class='d-flex flex-direction-column align-items-center'>
        <p>__________________________<br>(место для подписи)</p>
      </div>
    </div>
  </div>
  <% unless @payment_schedule.empty? %>
    <br/>

    <div class='new-page m-3'>
        <h3 class='text-center'>Расписания ежемесячных оплат</h3>
        <table class='table table-sm table-striped table-bordered'>
            <thead>
                <th>№</th>
                <th>Дата</th>
                <th>Сумма платежа</th>
                <th>Остаток</th>
            </thead>
            <tbody>
                <% @payment_schedule.each_with_index do |schedule, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= schedule[:payment_date] %></td>
                        <td><%= num_to_uzs @contract.price_per_month %></td>
                        <td><%= num_to_uzs schedule[:remaining] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
  <% end %>
</div>
