<h1 class='text-center text-white'><%= @block.name %></h1>
<div class="building">
  <% @block.floors.order(number: :asc).each do |floor| %>
    <div class="floor">
      <div class="floor-label text-white text-canter">Этаж <%= floor.number %></div>
      <div class="apartments">
        <% floor.apartments.order(:apartment_number_id).includes(:contract).each do |apartment| %>
          <%= link_to apartment do %>
            <div class="apartment <%= apartment.contract&.status %>">
              <%= apartment_title(apartment) %>
              <% if apartment.comment.present? %>
                <div class="comment"><%= apartment.comment %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="floor">
    <div class="floor-label text-canter"></div>
    <div class="apartments">
      <% @block.apartment_numbers.each do |apartment_number| %>
        <div class="apartment">
          <%= apartment_number.number %> <br>(<%= apartment_number.number_of_rooms %> хонали)
        </div>
      <% end %>
    </div>
  </div>
</div>
