<div id="<%= dom_id price_calculator %>">
  <p>
    <strong>Apartment number:</strong>
    <%= price_calculator.apartment_number_id %>
  </p>

  <p>
    <strong>Price per square:</strong>
    <%= price_calculator.price_per_square %>
  </p>

  <p>
    <strong>First payment in cash:</strong>
    <%= price_calculator.first_payment_in_cash %>
  </p>

  <p>
    <strong>First payment in percent:</strong>
    <%= price_calculator.first_payment_in_percent %>
  </p>

  <p>
    <strong>Number of months:</strong>
    <%= price_calculator.number_of_months %>
  </p>

</div>
