<div id="<%= dom_id top_up %>">
  <p>
    <strong>Amount:</strong>
    <%= top_up.amount %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= top_up.comment %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= top_up.contract_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= top_up.user_id %>
  </p>

</div>
