<div id="<%= dom_id apartment %>">
  <p>
    <strong>Floor:</strong>
    <%= apartment.floor_id %>
  </p>

  <p>
    <strong>Block:</strong>
    <%= apartment.block_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= apartment.comment %>
  </p>

  <p>
    <strong>Apartment number:</strong>
    <%= apartment.apartment_number_id %>
  </p>

</div>
