<%= simple_form_for(apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.association :floor, collection: @floors %>
  </div>

  <div>
    <%= form.association :block, collection: @blocks %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.association :apartment_number, collection: @apartment_numbers %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
